.orqafon{
width: 45%;
height: 90vh; 
border-radius: 150px;
border: 30px solid #bfbbaf; 
background-color: #2B3B48;  
}
.c1{
    width: 60%;
    height:20vh;
    border: 1px solid #FF473D;
    border-radius: 100%;
background-color: #FF473D;
text-align: center;
}
.c2{
    width: 60%;
    height: 20vh;
    border:1px solid #FFB636 ;
    border-radius: 100%;
    background-color: #FFB636;

}
.c3{
    width: 60%;
    height: 20vh;
    border:1px solid chartreuse;
    border-radius: 100%;
    background-color:#84DE02;
}
